<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>

    
    <add name="FabrikamFiber-Express" connectionString="Data Source=#{servername}#data.database.windows.net;Initial Catalog=FabrikamFiber;Integrated Security=False;User ID=#{username}#;Password=#{password}#;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="FabrikamFiber-DataWarehouse" connectionString="Data Source=#{servername}#data.database.windows.net;Initial Catalog=FabrikamFiber;Integrated Security=False;User ID=#{username}#;Password=#{password}#;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>

  <system.web>

    <compilation xdt:Transform="RemoveAttributes(debug)" />

  </system.web>
</configuration>